server {    
    listen 8080;
    listen [::]:8080;

    root /var/www/src;
    server_name ${WEB_DOMAIN} www.${WEB_DOMAIN};    

    location / {
        proxy_pass http://nodejs:8080;
    }

    location ~ /.well-known/acme-challenge {
        allow all;
        root /var/www/src;
    }
}

